<?xml version="1.0" encoding="UTF-8"?>
<items>
	<item>
		<code>RESIDENCECARDOUTPUT</code>
		<value>/usr/local/download/residencecard/</value>
	</item>
	<item>
		<code>SKILLSHEETOUTPUT</code>
		<value>/usr/local/download/skillsheet/</value>
	</item>
	<item>
		<code>WORKSHEETOUTPUT</code>
		<value>/usr/local/download/worksheet/</value>
	</item>
	<item>
		<code>CARFARE</code>
		<value>/Users/chaoleng/work/code/shintaku/uploadFile/</value>
	</item>
	<item>
		<code>RULE</code>
		<value>/usr/local/download/rule/</value>
	</item>
	<item>
		<code>TRAINING</code>
		<value>/usr/local/download/training/</value>
	</item>
	<item>
		<code>WEBEXCEPTION</code>
		<value>./WEB-INF/jsp/error.jsp</value>
	</item>
	<item>
		<code>EMAILUSER</code>
		<value>cyougi.employeesys</value>
	</item>
	<item>
		<code>EMAILADDRESS</code>
		<value>employeesys@shintaku.co.jp</value>
	</item>
	<item>
		<code>EMAILPASSWORD</code>
		<value>employeesys00!</value>
	</item>
	<item>
		<code>SERVERHOST</code>
		<value>smtp.kagoya.net</value>
	</item>
	<item>
		<code>SERVERPORT</code>
		<value>587</value>
	</item>
	<item>
		<code>NOTICEEMAILSUBJECT</code>
		<value>【進拓】社員管理システムからのお知らせ</value>
	</item>
	<item>
		<code>NOTICEEMAILACTIVE</code>
		<value>OFF</value>
	</item>
    <item>
    <code>MAILTEMPATH</code>
    <value>/Users/chaoleng/work/code/shintaku/src/strorage/</value>
  </item>
   <item>
    <code>MAILTEMPFILE</code>
    <value>notice.html</value>
  </item>

</items>